# Entorno virtual y carpetas de dependencias
venv/
node_modules/
premium-cars/

# Archivos de Python (en cualquier nivel)
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd

# Variables de entorno (¡CRÍTICO!)
**/.env
.env

# Archivos de pruebas y cobertura (en cualquier nivel)
**/htmlcov/
**/.tox/
**/.coverage
**/coverage.xml
**/.pytest_cache/
**/coverage.json
**/.coveragerc
**/.tmp_pytest_q.txt

# Configuración de IDEs
.vscode/
.idea/
*.swp

# Logs y temporales
*.log
**/*.tmp
**/*.temp